<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>
<p>
  <strong>Members:</strong>
  <% @beer_club.users.each do |user| %>
    <li><%= link_to user.username, user %></li>
<% end %>
</p>
<p>
  <% if not @beer_club.users.include?(current_user) and current_user %>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"join the club" %>
    <% end %>
  <%end%>
</p>

<p>
  <% if @beer_club.users.include?(current_user) %>
      <%= button_to 'end the membership', @membership, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
<%= link_to 'Back', beer_clubs_path %>
<%= link_to 'Destroy', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
