<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>
<p>
  <strong>Active Members:</strong>
  <p>Number of active members <%= @active_members.count%></p>
  <%= render 'list', members: @active_members %>
</p>
<p>
  <strong>Pending Members:</strong>
  <p>Number of pending members <%= @pending_members.count%></p>
  <%= render 'list', members: @pending_members %>
</p>

<p>
  <% if not @beer_club.users.include?(current_user) and current_user %>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"join the club", class:"btn btn-primary"%>
    <% end %>
  <%end%>
</p>

<p>
  <% if @beer_club.users.include?(current_user) %>
      <%= button_to 'end the membership', @membership, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%>
  <% end %>
</p>

<%= edit_and_destroy_buttons(@beer_club) %>

