<p id="notice"><%= notice %></p>

<p>
<div class="page-header">
  <h1>Username:
  <small><%= @user.username %></small></h1>
  </div>
</p>
<% if @user.active == false  %>
    <span class="label label-info">Account Frozen</span>
<% end %>
<p>
  <h2>Ratings:</h2><p>
  <% if @user.ratings.empty? %>
      User hasn't rated anything yet.
  <% else %>
      User has <%= @user.ratings.count %> <%= @user.monikko(@user.ratings.count, 'rating', 'ratings') %>, average <%= round(@user.average_rating) %>
  <% end %>
  </p><p>
  <% @user.ratings.each do |rating| %>
    <ul class="list-group">
    <li class="list-group-item">
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
    </ul>
    </p>
<% end %>
  </p>

</p>
<div class="jumbotron">
  <p>
    Favourite Style: <%= @user.favorite_style.name %></p>
  <p>
    Favourite Brewery: <%= @user.favorite_brewery.name %>
  </p>
</div>
<p>
  <h2>Club Memberships:</h2></p>
<p>
  <% @user.beer_clubs.each do |club| %>
    <ul class="list-group">
      <li class="list-group-item"><%= link_to club.name, club %></li>
    <% end %>
  </ul>
</p>

<% if @user == current_user %>
    <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
<p></p>
<% if current_user.admin == true%>
    <% if @user.active == true %>
      <%= link_to('Freeze Account', toggle_activity_user_path(@user.id), method: :post, class:"btn btn-primary")%>
    <%else%>
        <%= link_to('Restore Account', toggle_activity_user_path(@user.id), method: :post, class:"btn btn-primary")%>
    <%end%>
<% end%>
