<p id="notice"><%= notice %></p>

<p>
<div class="page-header">
  <h1>Username:
  <small><%= @user.username %></small></h1>
  </div>
</p>
<p>
  <h2>Ratings:</h2><p>
  <% if @user.ratings.empty? %>
      User hasn't rated anything yet.
  <% else %>
      User has <%= @user.ratings.count %> <%= @user.monikko(@user.ratings.count, 'rating', 'ratings') %>, average <%= round(@user.average_rating) %>
  <% end %>
  </p><p>
  <% @user.ratings.each do |rating| %>
    <ul class="list-group">
    <li class="list-group-item">
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
    </ul>
    </p>
<% end %>
  </p>

</p>
<div class="jumbotron">
  <p>
    Favourite Style: <%= @user.favorite_style %></p>
  <p>
    Favourite Brewery: <%= @user.favorite_brewery %>
  </p>
</div>
<p>
  <h2>Club Memberships:</h2></p>
<p>
  <% @user.beer_clubs.each do |club| %>
    <ul class="list-group">
      <li class="list-group-item"><%= link_to club.name, club %></li>
    <% end %>
  </ul>
    </p>
<%= edit_and_destroy_buttons(@user) %>
