<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  Ratings:<p>
  <% @user.ratings.each do |rating| %>
    <li>
      <div class="rating">
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
          </div>
    </li>
<% end %>
  </p>
<% if @user.ratings.empty? %>
    User hasn't rated anything yet.
<% else %>
    User has <%= @user.ratings.count %> <%= @user.monikko(@user.ratings.count, 'rating', 'ratings') %>, average <%= @user.average_rating %>
<% end %>
</p>
<p>
  Favourite Style: <%= @user.favorite_style %></p>
<p>
  Favourite Brewery: <%= @user.favorite_brewery %>
</p>
<p>
  Club Memberships:
  <% @user.beer_clubs.each do |club| %>
    <li><%= link_to club.name, club %></li>
    <% end %>
    </p>
    <% if @user == current_user %>
      <%= link_to 'Edit', edit_user_path(@user) %>
      <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
<%= link_to 'Back', users_path %>
